<% layout("/layouts/boilerplate") %>

<div class="row offset-2">
  <div class="col-9">
    <br /><br />
    <h2>Create a New Listing</h2>
    <form action="/listings" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please enter a title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          cols="3"
          rows="2"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL/Link</label>
        <input
          id="image"
          type="text"
          name="listing[image]"
          placeholder="Enter image URL"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            type="number"
            name="listing[price]"
            placeholder="Enter price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please set a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter your Country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          type="text"
          name="listing[location]"
          placeholder="Odisha"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter your location</div>
      </div>

      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
