<%layout("./layouts/boilerplate.ejs") %>
<h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
<div class="row">
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username :</label>
        <input
          id="username"
          type="text"
          name="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">Please enter a username</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Id :</label>
        <input
          id="email"
          type="email"
          name="email"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">Please enter a valid email</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password :</label>
        <input
          id="password"
          type="password"
          name="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">You have to enter a password</div>
      </div>
      <br />
      <button class="btn signUp-btn mb-3">SignUp</button>
    </form>
  </div>
</div>
